div.main {
  background-color: #f5efef;
  div.mainPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    img {
      max-width: 70%;
      position: relative;
      overflow: hidden;
      z-index: 0;
      border-radius: 1rem;
    }
    div.shade {
      width: auto;
      background-color: rgba(0, 0, 0, 1);
      opacity: 40%;
      padding: 0.5rem;
      position: relative;
      bottom: 40px;
      border-radius: 0.5rem;
      p {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        margin: 0;
        position: relative;
      }
    }
  }
}
